@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&family=Source+Serif+Pro:ital,wght@1,600&display=swap');

:root {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  --text-primary: #141418;
  --text-secondary: #752f22;
  --bg-primary: #ffffff;
  --bg-secondary: #cdcdce;
  --navbar-width: 20%;
}

em {
    color: var(--text-secondary);
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  text-align: center;
}


.flex-container {
  margin-left: var(--navbar-width);
  margin-top: 10vh;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  padding: 0.25rem;
}

.flex-container::-webkit-scrollbar {
  width: 0.25rem;
}

.flex-container::-webkit-scrollbar-track {
  background: var(--bg-primary);
  border-radius: 10px;
}

.flex-container::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 10px;
}

.flex-image {
  height: 80vh;
  flex-grow: 1;
  list-style-type: none;
}

.flex-image img {
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

.flex-image figcaption {
  background-color: rgba(250, 250, 250, 0.9);
  position: relative;
  bottom: 50%;
  border-radius: 0.5rem;
  
  margin: 1rem;
  padding: 0.5rem;


  text-align: center;

  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 1;
  z-index: 1;
}

.flex-image h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.flex-image i {
  position: relative!important;
  background-color: var(--text-primary);
  width: 120px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: var(--bg-primary);
  margin-top: 10px;
  margin-bottom: 15px;
}

.flex-image i:hover {
  background-color: var(--bg-primary);
  font-weight: bold;
  color: var(--text-secondary);
}

.flex-image:hover figcaption,
.flex-image.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.flex-image:hover:after,
.flex-image.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}



/* Large screens
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 25%;
    height: 100vh;
  }


  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
} */