---
// Component Imports
import Navbar from '../layouts/Navbar.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/main.css')}>

</head>
<body>
	<Navbar title="Simona Portfolio"></Navbar>
	<main>
    <div class="flex-container" style="gap: 1rem;">
      <div class="flex-image">
        <img src="assets/character_design/1.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/2.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/3.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/4.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/6.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/7.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/8.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/9.jpg" alt="img">
      </div>
      <div class="flex-image">
        <img src="assets/character_design/10.jpg" alt="img">
      </div>
    </div>
	</main>

		<!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->

</body>
</html>
