---
// Component Imports
import Navbar from '../layouts/Navbar.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/main.css')}>

</head>
<body>
	<Navbar title="Simona Portfolio"></Navbar>
	<main>
    <div class="flex-container">
      <div class="flex-image">
        <img src="assets/character_design/8.jpg" alt="img">
        <figcaption>
          <h4>
            Character design
          </h4>
          <p>
            Collection of characters and illustrations in different styles and inspirations.
          </p>
          <a href="character_design">
            <i>
              Show more
            </i>
          </a>
        </figcaption>
      </div>
      <div class="flex-image">
        <img src="assets/portraits/7.jpg" alt="img">
        <figcaption>
          <h4>
            Portraits
          </h4>
          <p>
            Sample of different commissions and personal work.          </p>
          <a href="portraits">
            <i>
              Show more
            </i>
          </a>
        </figcaption>
      </div>
      <div class="flex-image">
        <img src="/assets/enviroment/11.jpg" alt="img">
        <figcaption>
          <h4>
            Enviromental Art
          </h4>
          <p>
            Design of enviromental art pieces and details.
          </p>
          <a href="enviroment">
            <i>
              Show more
            </i>
          </a>
        </figcaption>
      </div>
      <div class="flex-image">
        <img src="/assets/thesis/5.jpg" alt="img">
        <figcaption>
          <h4>
            Thesis
          </h4>
          <p>
            A character design interpretation of the main characters from the novel Dune
          </p>
          <a href="thesis">
            <i>
              Show more
            </i>
          </a>
        </figcaption>
      </div>
    </div>
	</main>

		<!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->

</body>
</html>
